# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# apache-airflow
# apache-airflow-providers-dbt-cloud

# Example content of requirements.txt after removal of apache-airflow
pandas==1.5.3
sqlalchemy==1.4.47
# Add other dependencies here